<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImpromptuInterface" version="6.2.2" targetFramework="net452" />
  <package id="NUnit" version="3.6.0" targetFramework="net452" />
  <package id="NUnit.Console" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.1" targetFramework="net452" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.4.1" targetFramework="net452" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net452" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net452" />
  <package id="SpecFlow.Assist.Dynamic" version="1.1.0" targetFramework="net452" />
  <package id="WebDriver.GeckoDriver" version="0.11.1" targetFramework="net452" />
</packages>